<%- include ("./header") %>

<div class="uk-width-medium uk-padding-small">
	<form action="/user/save" method="POST">
			Name<input class="uk-input" type="text" placeholder="Name" name="name" value="<%= data[0]['name'] -%>">
			Username <input style="margin-top: 5px"class="uk-input" type="text"  disabled="disabled" placeholder="Username" name="username" value="<%= data[0]['username'] -%>">
			Password<input style="margin-top: 5px" class="uk-input" type="text" placeholder="Password"  name="password" value="<%= data[0]['password'] -%>">
			Date of Birth<input style="margin-top: 5px" class="uk-input" type="date" name="dob" value="<%= data[0]['dob'] -%>">
			<input type="hidden" name="id" value="<%= data[0]['id'] -%>">
			<div style="margin-top: 20px">
		    <button class="uk-button uk-button-danger" style="width: 100px;margin-left: 20px" id="cancelButton" type="button"> Cancel</button>
			<button class="uk-button uk-button-primary" style="width: 100px; margin-left: 10px" type="submit">Save</button>
			</div>
			
	</form>

</div>

<%- include ("./footer") %>
