<%- include ("./header") %>



<div class="uk-container " >
    <div class="" >
        <table class="uk-table  uk-table-small uk-table-striped">
            
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            <% for(var item in data){ %>
                <tr>
                    <td><%= data[item].username %></td>
                    <td><%= data[item].name %></td>
                    <td><button class="deleteButton uk-button uk-button-danger uk-button-small" value="<%= data[item].id %>">Delete</button></td>
                    <td><button class="editButton uk-button uk-button-primary uk-button-small" value="<%= data[item].id %>">Edit</button></td>
                    
                </tr>
            <% } %>
            </tbody>
        
        </table>
        <center><button class="uk-button uk-button-secondary">Add New User</button></center>
    </div>
</div>
<%- include ("./footer") %>
